<div class="info_area">
<br/>
	<p class="teach"><%= @message %></p>
	<% @courses.each do |course| %>
	 <p class="teach"><%= course.name %> 
	 <span id="delete"><%= link_to 'Delete', course_path(course), method: :delete %></span></p>
	<% end %>
<br/>
<hr/>
<p class="teach">Create some new courses:</p>
<%= form_for @course do |f|%>
	<%= f.text_field :name %>
	<%= f.submit "Create Course" %>

<% end %>

</div>