<!DOCTYPE html>
<html>
  <head>
    <title>LMS</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="navbar">
        <ul class="topnav1">
  <% if current_teacher %>
    <li>Welcome <%= current_teacher.email if current_teacher %></li>
    <li><%= link_to "Sign Out", destroy_teacher_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_teacher_session_path %></li>
  <% end %> 
        </ul>
        <a href="/" id="logo">GradEZ</a>
        <ul class="topnav2">
          <li>Classes</li>
          <li>Messages</li>
          <li>Account</li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
