<!DOCTYPE html>
<html>
  <head>
    <title>GradEZ - Online Grading</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="navbar">
        <ul class="topnav1">
  <% if current_teacher %>
    <li>Welcome <%= current_teacher.email if current_teacher %></li>
    <li><%= link_to "Sign Out", destroy_teacher_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_teacher_session_path %></li>
  <% end %> 
        </ul>
        <a href="/" id="logo">GradEZ</a>
        <% if current_teacher %>
        <ul class="topnav2">
          <li><a href="/courses/show">Classes</a></li>
          <li>Messages</li>
          <li><a href="/teachers/<%= current_teacher.id %>">Account</a></li>
        </ul>
        <% end %>
      </div>
    </div>
    <%= yield %>
   <br/>
   <div class="footer"> 
      <div class="container"> 
        <div class="row"> 
          <div class="col-md-2"> 
            <div class="copy">© GradEZ</div> 
          </div> 
            <div class="col-md-10"> 
              <ul class="nav nav-pills pull-right"> 
                <li><a href="#">FAQ</a></li> 
                <li><a href="#">Contact</a></li> 
              </ul> 
            </div> 
        </div> 
      </div>
    </div>
  </body>
</html>
